body {
    font-family: 'Poppins', sans-serif;;
    background-color: rgb(2 6 23);
    margin: 0;
    padding: 0;
}

#main {
    margin: 10% auto 10% auto;
    max-width: 80%;
    min-width: 200px;
    height: 100%;
    background-color: white;
}

.classModoTurbo {
    color: green;
}